<ion-header [translucent]="true"> 
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
   </ion-buttons>
    <div style="display: flex; align-items: center;">
      <ion-title>CHECKOUT</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">checkout-two</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>THANK YOU FOR PURCHASING</ion-card-header>
    <ion-card-title>
    </ion-card-title>
    <ion-card-content>
      Thank you for your order! 🛍️ Your purchase has been successfully processed, and we're getting everything ready to pick up.
    </ion-card-content>
  </ion-card>
</ion-content>
