<ion-header [translucent]="true"> 
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
   </ion-buttons>
    <div style="display: flex; align-items: center;">
      <ion-title>CHAT</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">chat</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <div style="display: flex; align-items: center;">
        <img href="profile" src="https://hips.hearstapps.com/hmg-prod/images/david-beckham-looks-on-on-the-grid-during-the-f1-grand-prix-news-photo-1697217507.jpg" style="height: 50px; width:50px; border-radius: 50%; object-fit: cover;">
        <ion-card-title style="margin-left: 10px;">
          David Beckham
        </ion-card-title>
      </div>
    </ion-card-header>
    
    <ion-card-content>
      boleh saya order 100 sushi untuk majilis kenduri?
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <div style="display: flex; align-items: center;">
        <img href="profile" src="https://upload.wikimedia.org/wikipedia/commons/e/ee/Mike_Tyson_Photo_Op_GalaxyCon_Austin_2023.jpg" style="height: 50px; width:50px; border-radius: 50%; object-fit: cover;">
        <ion-card-title style="margin-left: 10px;">
          Mike Tyson
        </ion-card-title>
      </div>
    </ion-card-header>
    
    <ion-card-content>
      can I request ear-bite size?
    </ion-card-content>
  </ion-card>
</ion-content>
