<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<ion-header [translucent]="true"> 
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="seller"></ion-back-button>
   </ion-buttons>
    <div style="display: flex; align-items: center;">
      <ion-title>MESSI CUISSON</ion-title>
      <img src="https://akm-img-a-in.tosshub.com/sites/visualstory/wp/2023/07/Messi-30.jpg" style="height: 50px; width:50px; border-radius: 50%; object-fit: cover;">
    </div>
  </ion-toolbar>
</ion-header>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      <ion-item>
        <ion-input placeholder="Write a message"></ion-input>
      </ion-item>
    </ion-title>
  </ion-toolbar>
</ion-footer>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">seller-chat</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
