<ion-header [translucent]="true"> 
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab3"></ion-back-button>
   </ion-buttons>
    <div style="display: flex; align-items: center;">
      <ion-title>ADD PRODUCT</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">add</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card style="height: 350px; width: 300px;">
    <img src="https://i.dailymail.co.uk/i/pix/2016/02/25/14/318CD5FC00000578-0-image-a-131_1456411156499.jpg" style="height: 170px; width: 300px;" />
  <ion-card-header>
    <ion-card-title>Homemade Salad</ion-card-title>
    <ion-card-title>Price: $2.5</ion-card-title>
    <ion-card-title>Quantity: 5</ion-card-title>
    <ion-button (click)="changeButtonText()">{{ buttonText }}</ion-button>
  </ion-card-header>
</ion-card>

</ion-content>
