<ion-header [translucent]="true"> 
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
   </ion-buttons>
    <ion-title>Brunei</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">brunei</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <!-- <img src="https://ionicframework.com/docs/img/demos/card-media.png" style="height: 400px; width: 600px;" /> -->
    <!-- <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header> -->
  
    <ion-card-content class="ion-text-center">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/Flag_of_Brunei.svg/1200px-Flag_of_Brunei.svg.png" style="max-width: 100%; height: auto;" />
      <br>
      <h1>Brunei Darussalam</h1>
      <h4>Brunei is a tiny nation on the island of Borneo, in 2 distinct sections surrounded by Malaysia and the South China Sea. It's known for its beaches and biodiverse rainforest, much of it protected within reserves. The capital, Bandar Seri Begawan, is home to the opulent Jame’Asr Hassanil Bolkiah mosque and its 29 golden domes. The capital's massive Istana Nurul Iman palace is the residence of Brunei’s ruling sultan</h4>
      
    </ion-card-content>
  </ion-card>



</ion-content>
